

.pc-banner {
    width: 80%;
    margin:auto;
}
.CET,.JZ,.PTH{
    width: 80%;
    margin:auto;
    height: 500px;
}
.left{
    width: 240px;
    height: 426px;
}
.right{
    width: 800px;
    height: 426px;
    overflow: hidden;
}
.mtop{
    color: #2FC4B2;
    margin-left: 16px;
    font-size: 30px;
}
.mfont{
    margin-top: 16px;
    line-height: 1.88;
    color: #333333;
    font-size: 16px;
}

@media screen and (max-width: 668px) {
    .pc-banner {
        background-size: auto 100%;
    }
}
.swiper-container {
    width: 100%;
    margin: 35px 0;
}
@media screen and (max-width: 668px) {
    .swiper-container {
        margin: 20px 0 15px;
    }
}
.swiper-slide {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}
@media screen and (max-width: 668px) {
    .swiper-slide {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
}
.swiper-slide-active,.swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media screen and (max-width: 668px) {
    .swiper-slide-active,.swiper-slide-duplicate-active {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }
}
.none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.swiper-slide a {
    background: #fff;
    padding:10px;
    display: block;
    border-radius: 14px;
    overflow: hidden;
}
@media screen and (min-width: 668px) {
    .swiper-slide a:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        box-sizing: border-box;
        /*border: 10px solid #fff;*/
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
.swiper-slide-active a:after {
    background: none;
}
@media screen and (max-width: 668px) {
    .swiper-slide a {
        padding: 5px;
        border-radius: 7px;
    }
}
.swiper-slide img {
    width: 100%;
    display: block;
}
.swiper-pagination {
    position: relative;
    margin-bottom: 30px;
}
.swiper-pagination-bullet {
    background: #5e9b95;
    margin-left: 4px;
    margin-right: 4px;
    width: 17px;
    height: 17px;
    opacity: 1;
    margin-bottom: 4px;
}
.swiper-pagination-bullet-active {
    width: 13px;
    height: 13px;
    background: #FFF;
    border: 6px solid #4bd4c7;
    margin-bottom: 0;
}
@media screen and (max-width: 668px) {

    .swiper-pagination {
        position: relative;
        margin-bottom: 20px;
    }
    .swiper-pagination-bullet {
        background: #00a0e9;
        margin-left: 2px;
        margin-right: 2px;
        width: 8px;
        height: 8px;
        margin-bottom: 2px;
    }
    .swiper-pagination-bullet-active {
        width: 6px;
        height: 6px;
        background: #FFF;
        border: 3px solid #00a0e9;
        margin-bottom: 0;
    }
}

.button {
    width: 1000px;
    margin: 0 auto;
    bottom: 43px;
    position: relative;
}
@media screen and (max-width: 668px) {
    .button {
        width: 70%;
        bottom: 22px;
    }
}
.button div:hover {
    background-color: #2f4798;
}
@media screen and (max-width: 668px) {
    .button div {
        width: 28px;
        height: 28px;
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    /*background-color: #eee;*/
    font-size: 13px;
    font-family: PingFangSC-Light, "Helvetica Neue", Helvetica, "Microsoft YaHei", 微软雅黑, Arial, SimHei, serif !important;
}

.nav__bar{
    display: block;
    background-color:#2FC4B8;
    height: 54px;
}



ul li{
    float: left;
    list-style: none;

}


.logo{
    /*background: url("../images/wuwo.jpg");*/
    width: 100px;
    height: 43px;
    padding-top: 6px;
    margin-left: 72px;
    cursor: Default;
}

.logo img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.nav__list{
    display: block;
    position: relative;
    float: left;
    margin: 2px 40px 0 0;
    /* background-color: red; */
    left: 17.5%;
    top: -42px;
}

.nav__mainF{
    /* width: 10px; */
    color: #c9e6e0;
    font-size: 16px;
    padding: 15px;
    text-shadow: none;
    cursor: Default;
    transition: color 0.5s;
}
.nav__main{
    /* width: 10px; */
    color: #c9e6e0;
    font-size: 16px;
    padding: 15px;
    text-shadow: none;
    cursor: pointer;
    transition: color 0.5s;
}
.nav__main button{
    border: #2FC4B2;
    color: #c9e6e0;
    background-color: #2FC4B2;
    font-size: 16px;
    text-shadow: none;
    cursor: pointer;
}
.nav__main:hover{
    color:white;
}




.login__btn{
    position: absolute;
    float: right;
    top: 14px;
    right: 40px;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
    height: 28px;
}

.dropdown{
    background-color: #fff;
    width: 152px;
    position: absolute;
    float: right;
    right: -32px;
    top: 29px;
    border-radius: 5px;
    color: #666;
    display: none;
}

.login__btn:hover .dropdown{
    display: block;
}

.line{
    height: 4px;
    width: 150px;
    margin: 1px 26px 0 -20px;
    overflow: hidden;
    border-bottom: 1px solid rgba(202, 198, 198, 0.5);
    cursor: default	;
}



.dropdown__menu li{
    padding: 2px 78px 0 18px;
    display: block;
    text-decoration: none;
    clear: both;
    line-height: 20px;
    margin-top: 7px;
    cursor: pointer;

}

.dropdown__menu li:nth-child(10){
    margin-bottom: 7px;
}

.dropdown .dropdown__menu li:nth-child(1):hover,
.dropdown .dropdown__menu li:nth-child(2):hover,
.dropdown .dropdown__menu li:nth-child(3):hover,
.dropdown .dropdown__menu li:nth-child(4):hover,
.dropdown .dropdown__menu li:nth-child(6):hover,
.dropdown .dropdown__menu li:nth-child(7):hover,
.dropdown .dropdown__menu li:nth-child(9):hover,
.dropdown .dropdown__menu li:nth-child(10):hover,
.nav__list li:nth-child(7):hover,
.nav__list li:nth-child(8):hover,
.nav__list li:nth-child(9):hover,
.nav__list li:nth-child(10):hover,
.nav__list li:nth-child(11):hover,
.nav__list li:nth-child(12):hover
{
    background-color: #2FC4B2;
    color: white;
}


.user__login__img{
    width: 28px;
    height: 26px;
    display: inline-block;


    /* background-color: yellow; */
}
.user__login__img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}



.name, .arraw{
    display: inline-block;
}
.arraw img{
    height: 8px;
    width: 13px;
}

.user__name {
    /* width: 63px;
    height: 15px; */
    /* background-color: red; */
    display: inline-block;
    color: white;
    font-size: 3px;
    position: relative;
    top: 0;
}






/*个人信息开始*/
#myspace-itemsF {
    height:450px;padding-top: 10px
}

#userhead {
    height: 130px;
    border-radius: 5px;
    background-color: white;
    margin: 0 12px
}

#username {
    float: left;
    margin: 30px auto auto 15px;
}

#username b {
    font-size: 22px;
}

#userhead img {
    float: left;
    width: 100px;
    margin: 15px 0 15px 50px;
    border-radius: 50px;
}

.basic-information {
    height: 50px;
}

.basic-information h2 {
    line-height: 40px;
    margin: 10px 15px 0 15px;
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
    margin: 5px auto;
}

tr {
    height: 75px;
}

td {
    padding-left: 20px;
    font-size: 15px;
}

.basic-information-td1 {
    width: 20%;
}

/*个人信息结束*/

.picture {
    list-style: none;
}
nav {
    width: 850px;
    height: 137px;
    border: 1px solid white;
    overflow: hidden;
}
.picture {
    width: 200%;
    height: 100%;
    animation: picmove 5s linear infinite forwards;
}
@keyframes picmove {
    from {
        transform: translate(0px);
    }
    to {
            transform: translate(-150px);
    }
}
.picture2 {
    width: 200%;
    height: 100%;
    animation: picmove2 5s linear infinite forwards;
}
@keyframes picmove2 {
    from {
        transform: translate(-120px);
    }
    to {
        transform: translate(0px);
    }
}
.picture img,.picture2 img {
    width: 137px;
    height: 137px;
    float: left;
    border-radius: 8px;
    padding-left: 5px;
}
.picture:hover,.picture2:hover {
    animation-play-state: paused;
}